.badge_box {
  position: relative;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0px;
  display: inline-block;
  padding: 20px;
}

.heart_icon {
  position: absolute;
  right: 0;
  top: 0;
}
