.matches_and_requests_box {
  position: absolute;
  width: 250px;
  height: 627px;
  right: 0px;
  top: 305px;
  overflow: hidden;

  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0px;
  display: inline-block;
  /* padding: 35px; */

  background: #f9b916;
}
